{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div>
        {% if data %}
        <table class="table">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>You have</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                    <tr>
                        {% if row.quantity > 0 %}
                            <td>{{row.symbol}}</td>
                            <td>{{row.quantity}}</td>
                        {% endif %}
                    </tr>
                {% endfor %}

            </tbody>
        </table>
        {% endif %}
    </div>
{% endblock %}
